body {
    font-family: "Roboto", sans-serif;
    color: #434455;
    background-color: #fff;
  }
  
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  


  h1, h2, h3, h4, h5, h6,
  p, ul {
    margin: 0;
    padding: 0;
  }

  a {
    text-decoration: none;
  }
  
  button{
    cursor: pointer;
  }
  .list {
    list-style-type: none;
  }

  .hader-menu{
    border-bottom: 1px solid #e7e9fc;
  }
  .div-menu{
    display: flex;/*для розміщення навігації та контактів в одну лінію*/
  }

  img {
    display: block;
    width: 100%; /* Наприклад, розтягуємо картинку на всю ширину батьківського елемента */
    margin: 10px auto; /* Задаємо зовнішні відступи та вирівнюємо по центру */
  }

  .container {
    display: flex;
    justify-content: flex-end;
    flex-direction: row-reverse;
    gap: 40px;
  }

  .list-menu{
    display: inline-flex;
    align-items: flex-start;
   
    gap: 40px;
  }
  header {
    border-bottom: 2px solid #000; /* Example border for the header */
  }

  .logo {
    color: #4d5ae5;
    text-transform: uppercase;
    font-family: "Raleway", sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 1.17;
    letter-spacing: 0.03em;
  }
  .nav-list {
    color: #2e2f42;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.32px;
    display: flex;
   }
  
  .nav-list:hover,
  .nav-list:focus {
    color: #404bbf;
  }
  
  .logo-studio {
    color: #2e2f42;
  }
  
  .logo-studio-footer {
    color: #f4f4fd;
  }
  
  .address {
    font-style: normal;
    line-height: 1.5;
    letter-spacing: 0.02em;
  }
  
  .header-address-link {
    color: #434455;
  }
  
  .header-address-link:hover,
  .header-address-link:focus {
    color: #404bbf;
  }
  
  title,
  .hero-text {
    text-align: center;
    font-size: 56px;
    font-style: normal;
    font-weight: 700;
    line-height: 1.07;
    letter-spacing: 1.12px;
    color: white;
  }
  
  .features-list-title {
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.4px;
    color: #2e2f42;
  }
  
  .features-list-text {
    line-height: 1.5;
    letter-spacing: 0.02em;
  }
  
  .list-text {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
  }
  
  .hero {
    background-color: #2e2f42;
  }
  
  .hero-button {
    font-family: "Roboto", sans-serif;
    background-color: #4d5ae5;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.64px;
    color: white;
    cursor: pointer;
  }
  
  .hero-button:hover,
  .hero-button:focus {
    background-color: #404bbf;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.64px;
  }
  
  .third-section {
    background-color: #f4f4fd;
  }
  
  .our-team-title {
    font-size: 36px;
    line-height: 1.11;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #2e2f42;
    text-align: center;
  }
  
  .our-team-name {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
  }
  
  .our-team-job {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
  }
  
  .third-list {
    background-color: white;
  }
  
  .features {
    visibility: hidden;
  }
  
  .our-portfolio-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
  }
  
  .portfolio-text {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
  }
  
  .example-title {
    color: #2e2f42;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.4px;
  }
  
  .footer-field {
    background-color: #2e2f42;
  }
  
  .footer-text {
    line-height: 1.5;
    color: #f4f4fd;
    letter-spacing: 0.02em;
  }
  